
.headerMaindiv{
  text-align: center;
  height: 100%;
  line-height: 80px;
}
.font{
  font-size: 25px;
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑 Light",Arial,sans-serif;
}
.headerRoot{
  height: 90px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}
